<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GD2C2013Entities" connectionString="metadata=res://*/db.csdl|res://*/db.ssdl|res://*/db.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JOA-VM\SQLSERVER2008;Initial Catalog=GD2C2013;Persist Security Info=True;User ID=gd;Password=gd2013;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Clinica_Frba.Properties.Settings.GD2C2013ConnectionString"
      connectionString="Data Source=JOA-VM\SQLSERVER2008;Initial Catalog=GD2C2013;Persist Security Info=True;User ID=gd;Password=gd2013"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>